<div class='modal-title'>
    <h2>Set Your Username</h2>
    <h4>Lets get started by choosing an awesome Username that will let people know you are a keyboard warrior (or maybe the 23rd person who likes cats e.g. catLover23)</h4> 
</div>

<div class='modal-entry-box'>
        <input type='text' name='username' ng-model='usernameModal.username'>
</div>

<div class='modal-buttons'>
    <button class='modal-button-set' ng-click='usernameModal.setUser()'>I Have Chosen Wisely <br> Go Ahead And Set My Username</button>
</div>
